<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Sign Up</h1>
                    <h6>Register Yourself !!</h6>
                </div>
                    <form [formGroup]="signupForm" (ngSubmit)="signUp()">
                        <div class="mb-3">
                            <label for="fullname" class="form-label">Full Name</label>
                            <input formControlName="fullname" type ="text" class="form-control" id="fullname">
                          </div>                                    
                        <div class="mb-3">
                          <label for="email" class="form-label">Email address</label>
                          <input formControlName="email" type="email" class="form-control" id="email" aria-describedby="emailHelp">
                          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                        <div class="mb-3">
                          <label for="password" class="form-label">Password</label>
                          <input formControlName="password" type="password" class="form-control" id="password">
                        </div>                        
                        <div class="mb-3">
                          <label for="role" class="form-label">Role</label>                          
                          <mat-selection-list class="list" formControlName="role" class="form-control" id="role">
                            <mat-list-option class="mat-list-option" *ngFor="let role of rolesList" [value]="role">
                              {{role}} 
                            </mat-list-option>
                          </mat-selection-list>
                        </div>      
                        <button type="submit" class="btn btn-primary mb-2">Submit</button>
                    </form>
                      <a routerLink="/login" style="color: #fff;">Already tegistered? Click to Login</a>
            </div>
        </div>
    </div>
</div>
