<div style="display:flex; width:25%; margin:0 auto; padding:10px">
        <mat-icon style="padding-top:10px">search</mat-icon>
        <input class="form-control" style="width: 300px;" type="search" placeholder="Search" aria-label="Search"
        name="cityName" [(ngModel)]="searchStr" (ngModelChange)="search()">
        <!--button class="btn btn-outline-success btn-primary" type="submit">Search</button-->
</div>
<div class="container">        
    <table class="table table-hover table-striped table-responsive-xl">
            <thead class="table-dark">
                    <tr>
                            <th>Name</th>
                            <th>Acitve</th>
                            <th style="cursor:pointer" (click)="sort('city')">City&nbsp;<i class="fa fa-sort"></i></th>
                            <th style="cursor:pointer" (click)="sort('medium')">Medium&nbsp;<i class="fa fa-sort"></i></th>
                            <th>Htmls</th>
                            <th>allScreensInCluster</th>  
                            <th>Sender</th>
                            <th>Warnstufen</th>                      
                            <th></th>
                    </tr>
            </thead>
            <tbody>
                    <tr *ngFor="let cluster of clusterFilteredList |  paginate: {itemsPerPage:15, currentPage:p};">
                            <td>{{cluster.cluster}}</td>
                            <td class="center"><input type="checkbox" [ngModel]="cluster.active" onclick="return false;"/></td>
                            <td *ngIf="!cluster.cityUuid">  
                                Bundesweit
                            </td>
                            <td *ngIf="cluster.cityUuid">  
                                {{cluster.cityUuid.cityName}}
                            </td>            
                            <td>{{cluster.mediaUuid?.mediaName}}</td>
                            <td>
                                <ul class="list-group" *ngFor="let bundle2html of cluster.bundleId?.bundlesHtmlsLookupCollection">
                                        <li class="list-group-item">{{bundle2html.htmlId.fileName}}</li>
                                </ul>                                 
                            </td>
                            <td class="center sm-font"><input type="checkbox" [ngModel]="cluster.allScreensInCluster" onclick="return false;"/>
                            <td>
                                    {{cluster.senderGroupId.groupName}}
                                   <!-- <ul class="list-group" *ngFor="let sender of cluster.senderGroupId?.senderCollection">
                                        <li class="list-group-item">{{sender.senderNutzer}}</li>                                   
                                </ul>
                                -->    
                            </td>
                            <td>{{cluster.senderGroupId.allowedSeverityAlerts}}</td>    
                            <td class="center sm-font">
                                <a class="fas fa-edit fa-2x icon-green " title="Edit this cluster" href="#" onclick="return false;" ></a><!--(click)="openModal(template, cluster)"-->
                                &nbsp;
                                <a class="fas fa-trash fa-2x icon-dark link-delete" title="Delete this cluster" href="#" onclick="return false;"></a>	
                            </td>
                    </tr>
            </tbody>        
    </table>    
    </div>
    <div class="center"><pagination-controls (pageChange) = "p=$event" ></pagination-controls></div>
<!--
    <ng-template #template>
        <div class="modal-header">
                <h4 class="modal-title pull-left">Modal</h4>
                <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
                  <span aria-hidden="true" class="visually-hidden">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form (ngSubmit)="saveCluster()">
                        
                        <div class="form-group row">
                                <label for="cluster" class="col-sm-2 col-form-label">Name</label>
                                <div class="col-sm-10">
                                        <input [(ngModel)]="editCluster.cluster" type="text" class="col-sm-10 col-form-control" id="cluster">
                                </div>
                        </div>
                        
                        <div class="form-group row">
                                <label class="col-sm-2 form-check-label" for="gridCheck1">Active</label>                                        
                                <div class="col-sm-10 form-check">
                                        <input [(ngModel)]="editCluster.active" class="form-check-input" type="checkbox" id="gridCheck1">                                                        
                                </div>
                        </div>
                        <div class="form-group row">  
                                <label for="city" class="col-sm-2 con-form-label">City</label>  
                                <select [(ngModel)]="editCluster.cityUuid" class="col-sm-10 col-form-control" id="city" [compareWith]="useIdAsIdent">
                                        <option  *ngFor="let c of cities" [ngValue]="c">
                                                {{c.cityName}}
                                        </option>
                                </select>                                       
                        </div>  

                        <div class="form-group row">  
                                <label for="medium" class="col-sm-2 con-form-label">Medium</label>  
                                <select [(ngModel)]="editCluster.mediaUuid" class="col-sm-10 col-form-control" id="medium" [compareWith]="useIdAsIdent">
                                        <option *ngFor="let medium of media" [ngValue]="medium">
                                                {{medium.mediaName}}
                                        </option>
                                </select>                                       
                        </div>  

                       

                        <div class="form-group row">
                                <label for="warnstufen" class="col-sm-2 col-form-label">Bundle</label>  
                                <select [(ngModel)]="editCluster.bundleId" class="col-sm-10 col-form-control" id="warnstufen" [compareWith]="useIdAsIdent">
                                        <option *ngFor="let bundle of bundles" [ngValue]="bundle">
                                                {{bundle.bundleName}} - htmls:                                                         
                                                        <div  *ngFor="let b2h of bundle.bundlesHtmlsLookupCollection">
                                                                {{b2h.htmlId.fileName }}
                                                        </div>                                                 
                                        </option>
                                </select>  
                        </div>      

                        <div class="form-group row">
                                <label for="warnstufen" class="col-sm-2 col-form-label">Sender</label>  
                                <select [(ngModel)]="editCluster.senderGroupId" class="col-sm-10" id="warnstufen" #name="ngModel" [compareWith]="useIdAsIdent">
                                        <option *ngFor="let senderGroup of senderGroups" [value]="senderGroup">
                                                {{senderGroup.groupName}} - allowedSeverityAlerts: {{senderGroup.allowedSeverityAlerts}}
                                        </option>
                                </select>  
                        </div>      
                        
                        <button type="submit" class="btn btn-primary mb-2">Submit</button>
                    </form>
               
              </div>
      </ng-template>
-->