* {
  box-sizing: border-box;
}
.flex-container {
  position: relative;
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  text-align: center;
  height: 93%;
  border: solib blue 1px;
}

.flex-item-left {
  background-color: #f1f1f1;
  padding: 10px;
  flex: 20%;
}

.flex-item-right {
  //background-color: dodgerblue;
  padding: 10px;
  flex: 80%;
}

.map-container {
  position: relative;
  height: 100%;
  /*
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 30px;
  */
}

.map-frame {
  border: 2px solid black;
  height: 100%;
}

#map {
  height: 100%;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}