<div class="container" style="width: 100%;">   
    <div *ngIf="emergencyDetails">
    <table class="table table-hover table-responsive-xl">
        <thead class="btn-secondary"> 
            <tr style="text-align: center;">   
                <!--th scope="col" class="rounded-company">ID</th>                
                <th scope="col" class="rounded-q2">msgType</th>
                <th scope="col" class="rounded-q3">sentTime</th-->
                <th scope="col" class="rounded-q3">cluster</th>
                <!--th scope="col" class="rounded-q3">severity</th-->                 
                <th scope="col" class="rounded-q3">overRiding</th>
                <th scope="col" class="rounded-q3">appending</th>                                
                <th scope="col" class="rounded-q3">message_header</th>
                <th scope="col" class="rounded-q3">message_body</th>             
                <th scope="col" class="rounded-q3">error</th>   
                <!--th scope="col" class="rounded-q4">geoData</th-->
                <th></th>                
            </tr>
        </thead>        
        <tbody class="bgc-yellow">         
            <tr *ngFor="let emd of emergencyDetails" >
                <!--td><a href="javascript:void(0);" (click)="onSelect(emd)">{{emd.id}}</a></td>                
                <td>{{emd.msgType}}</td>
                <td>{{emd.effectiveTime}}</td-->
                <td>{{emd.clusterId?.cluster}}</td>
                <!--td [ngClass]="emd.severityId.id == 4 ? 'bgc-red' : emd.severityId.id == 3 ? 'bgc-yellow' : ''" style="text-align: center;">
                    {{emd.severityId.severity}}
                    <mat-icon *ngIf="emd.severityId.id == 4" style="position: relative;top:5px;">report_problem</mat-icon>
                </td-->                
                <td>
                    <div *ngIf="emd.isoverridingloop===true">
                        <input style="margin-right: 2px;" type="checkbox" name="isoverRiding" [checked]=emd.isoverridingloop readonly/>                     
                        <span>{{emd.overrideLoopStart| date:'hh:mm'}} - {{emd.overrideLoopEnd| date:'hh:mm'}}</span>
                    </div>
                     <div *ngIf="emd.isoverridingloop===false" [class.fa]="emd.isoverridingloop===false" [class.fa-times-circle-o]="emd.isoverridingloop===false">
                     </div>
                </td>                
                <td>
                    <div *ngIf="emd.isappendingloop===true">
                        <input style="margin-right: 2px;" type="checkbox" name="isappendingloop" [checked]=emd.isappendingloop readonly/>                     
                        <span>{{emd.appendloopStart| date:'hh:mm'}} - {{emd.appendloopEnd| date:'hh:mm'}}</span>                    
                    </div>
                    <div *ngIf="emd.isappendingloop===false" [class.fa]="emd.isappendingloop===false" [class.fa-times-circle-o]="emd.isappendingloop===false">
                    </div>
                </td>                
                <td data-placement="bottom">{{emd.messageHeader}}</td>
                <td data-placement="bottom" title={{emd.messageBody}}>{{emd.messageBody}}</td>                
                <td>{{emd.errCode}}</td>
                <!--td-->
                    <!--ul class="list-group" *ngFor="let geo of emd.areaGeoDataList">
                        <li class="list-group-item p-0 ellipsis" title={{geo.geoData}}>{{geo.geoData}}</li>                                                   
                    </ul--> 
                <!--div data-toggle="tooltip" data-placement="bottom" title={{emd.geoData}}>{{emd.geoData}}</div-->
                <!--button (click)="openMap(content, emd.geoData, emd.geoTypeId.id, emd.id)"  class="geoIcon fa fa-globe" data-toggle="tooltip" data-placement="bottom" title="see position on openStreetMaps..."></button-->                                                
                <!--/td-->    
                <td>
                    <i class="fas fa-globe icon-dark fa-lg" style="cursor:pointer" aria-hidden="true" title="Show area in map" href="javascript:void(0);" (click)="openModal(template, emd.id)"></i>	
                </td>                            
            </tr>        
        </tbody>
        <!-->
            <tfoot>
            <tr>
                <td colspan="4" class="rounded-foot-left"><em>The above data were fictional and made up, please do not sue me</em></td>
                <td class="rounded-foot-right">&nbsp;</td>
            </tr>            
        </tfoot> 
        -->              
    </table>    
    
     </div>
    <!--<emergencydetail [emergencyDetail]="selectedEmergencyDetail"></emergencydetail>-->
</div>

<ng-template #template>
    <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Modal</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="map-container">
        <div class="map-frame">
          <div id="map"></div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-light" (click)="modalRef?.hide()">Close</button>
    </div>
  </div>
  </ng-template>


  


