
<div class="flex-container">      
    <div class="flex-item-left">   
      <div style="margin: 10px;">Städte:</div>
      <div class="list-group list-items overflow-auto">
        <div class="list-group list-item" *ngFor="let city of lstCitiesOverview" value="city">
          <label class="list-group-item d-flex justify-content-between align-items-center">
          <div>
            <input class="form-check-input me-1" type="checkbox" [(ngModel)]="city.selected" (change)="filter()">
            {{city.name}}
          </div>
            <span class="badge bg-primary rounded-pill">{{city.anz}}</span>
          </label>
        </div>
      </div>
      <div style="margin: 10px;padding-top: 10px">Medien:</div>
      <div class="list-group list-items overflow-auto" style="max-height: 230px;">
        <div class="list-group list-item" *ngFor="let medium of lstMediaOverview" value="medium" (change)="filter()">
          <label class="list-group-item d-flex justify-content-between align-items-center">
          <div>
            <input class="form-check-input me-1" type="checkbox" [(ngModel)]="medium.selected">
            {{medium.name}}
          </div>
            <span class="badge bg-primary rounded-pill">{{medium.anz}}</span>
          </label>
        </div> 
      </div>                 
  </div>  
  <div class="flex-item-right overflow-auto">
    <div class="map-container">
      <div class="map-frame">        
        <div style="display:flex; width:30%; margin:0 auto; padding:0 10px 10px 10px">
          <mat-icon style="padding-top:5px">search</mat-icon>
          <input class="form-control" style="width: 300px;" type="search" placeholder="Search" aria-label="Search"
          name="cityName" [(ngModel)]="searchStr" (ngModelChange)="search()">
          <div style="width: 100px;margin: 10px;color:blue">Anz: {{lstFilteredFaces.length}}</div>
          <!--button class="btn btn-outline-success btn-primary" type="submit">Search</button-->
      </div>
        <table class="table table-hover table-striped table-responsive-xl">
          <thead class="table-dark">
                  <tr>
                          <th>Name</th>
                          <th style="cursor: pointer;" (click)="sort('city')">City&nbsp;<i class="fa fa-sort"></i></th>
                          <th style="cursor: pointer;" (click)="sort('medium')">Medium&nbsp;<i class="fa fa-sort"></i></th>
                          <th>Latitude</th>
                          <th>Longitude</th>
                          <th>GKZ</th>                        
                          <th>Zip Code</th>                        
                          <th>Layout Width</th>                        
                          <th>Layout Height</th>                        
                          <th></th>
                  </tr>
          </thead>
          <tbody >
                  <tr *ngFor="let face of lstFilteredFaces | paginate: {itemsPerPage:22, currentPage:p};">
                          <td class="center">{{face.face}}</td>
                          <!--<td class="center"><input type="checkbox" [ngModel]="cluster.active" onclick="return false;"/></td>-->
                          <td>{{face.city}}</td>
                          <td>{{face.faceMedium}}</td>
                          <td>{{face.latitude}}</td>
                          <td>{{face.longitude}}</td>
                          <td class="center">{{face.gkz}}</td>
                          <td class="center">{{face.zipCode}}</td>
                          <td class="center">{{face.canvasLayoutWidth}}</td>
                          <td class="center">{{face.canvasLayoutHeight}}</td>
                  </tr>
          </tbody>   
             
        </table>
        <pagination-controls (pageChange) = "p=$event"></pagination-controls> 
      </div>
    </div>
  </div>
</div>    
