<div class="container">        
        <div class="card">
                <div class="text-center">
                    <h1>Create new Cluster</h1>
                </div>
            <form (ngSubmit)="addCluster()" #newClusterForm="ngForm">>
                    
                    <div class="form-group">
                            <label for="cluster" class="form-label">Name</label>
                            <div class="form-control">
                                    <input type="text" class="form-control" #clusterName ="ngModel" id="cluster"  [(ngModel)]="newCluster.cluster" 
                                    name="newClusterName" required>
                            </div>
                            <div [hidden]="clusterName.valid || clusterName.pristine"
                                class="alert alert-danger">
                                Name is required
                            </div>
                    </div>
                    
                    <div class="form-group">
                            <label class="form-check-label" for="gridCheck1">Active</label>                                        
                            <div class="form-check">
                                    <input [(ngModel)]="newCluster.active" #active="ngModel" class="form-check-input" type="checkbox" id="gridCheck1">                                                        
                            </div>
                    </div>

                    <div class="form-group">  
                            <label for="city" class="form-label">City</label>  
                            <select [(ngModel)]="newCluster.cityUuid" class="form-control" id="city" #city="ngModel"  required>
                                    <option  *ngFor="let c of cities" [ngValue]="c">
                                            {{c.cityName}}
                                    </option>
                            </select>  
                            <div [hidden]="city.valid || city.pristine"
                                class="alert alert-danger">
                                City is required
                            </div>                                     
                    </div>    
                      
                    <div class="form-group">
                            <label for="medium" class="form-label">Medium</label>  
                            <select [(ngModel)]="newCluster.mediaUuid" class="form-control" id="medium" #medium="ngModel"  required>
                                    <option *ngFor="let m of media" [ngValue]="m">
                                            {{m.mediaName}}
                                    </option>
                            </select>  
                            <div [hidden]="medium.valid || medium.pristine"
                                class="alert alert-danger">
                                Medium is required
                            </div>      
                    </div>

                    <div class="form-group">
                            <label for="warnstufen" class="form-label">Bundle</label>  
                            <select [(ngModel)]="newCluster.bundleId" class="form-control" id="warnstufen" name="bundle" #bundle="ngModel" required>
                                    <option *ngFor="let bundle of bundles" [ngValue]="bundle">
                                            {{bundle.bundleName}} - htmls:                                                         
                                                    <div  *ngFor="let b2h of bundle.bundlesHtmlsLookupCollection">
                                                            {{b2h.htmlId.fileName }}
                                                    </div>                                                 
                                    </option>
                            </select>  
                            <div [hidden]="bundle.valid || bundle.pristine"
                                class="alert alert-danger">
                                Bundle is required
                            </div>     
                    </div>      

                    <div class="form-group">
                            <label for="warnstufen" class="form-label">Sender</label>  
                            <select [(ngModel)]="newCluster.senderGroupId" class="form-control" id="warnstufen" name="warnstufen" #senderGroup="ngModel" required>
                                    <option *ngFor="let senderGroup of senderGroups" [ngValue]="senderGroup">
                                            {{senderGroup.groupName}} - allowedSeverityAlerts: {{senderGroup.allowedSeverityAlerts}}
                                    </option>
                            </select> 
                            <div [hidden]="senderGroup.valid || senderGroup.pristine"
                                class="alert alert-danger">
                                Sender is required
                            </div>      
                    </div>      
                    
                    <button type="button" [disabled]="!newClusterForm.valid" class="btn btn-primary mb-2 m-4" (click)="addCluster(); newClusterForm.reset()">
                            Submit
                    </button>

                    <button type="button"  class="btn btn-secondary mb-2 m-4" (click)="newClusterForm.reset()">
                        Cancel
                    </button>
                </form>
      </div>     
</div>