form {
    margin: 0 auto;
    //padding-top: 200px;
    width: 400px;
    //background-color: white;
}
/*
.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; 
  }
  */
  .ng-invalid:not(form)  {
    border-left: 5px solid red; /* red */
  }

  .card{
    //margin: 0 auto;
    margin-top: 15%;
    border: none;
    width: 500px;
    padding: 40px;
    //position: absolute;
    top: 4%;
    left:30%;
    //transform: translate(-50%,-50%);
    background: hsla(205, 46%, 30%, 1);
    background: linear-gradient(90deg, hsla(205, 46%, 30%, 1) 0%, hsla(260, 29%, 36%, 1) 100%);
}

.card h1, h6{
    color: #fff;
}

label{
    color: #fff;
}
